#banco de dados Xyay
DB_HOST=''
DB_PASSWORD=''
DB_USER=''
DB_PORT=5432
DB_NAME=''

#stays
XTAY_STAYS_API_KEY=''
CSTECH_STAYS_API_KEY=''

ID_DO_CLIENTE = ''
KEY_CLIENTE = ''

#gmail
GMAIL_KEY = ''
SMTP_SERVER = ''
SMTP_PORT = 587
EMAIL_REMETENTE = ''